# Server Configuration
SERVER_PORT=8080
LOG_LEVEL=debug

# WhatsApp Business API Configuration
WHATSAPP_API_KEY=your_whatsapp_api_key_here
WHATSAPP_BASE_URL=https://graph.facebook.com/v18.0

# Webhook Configuration
WEBHOOK_VERIFY_TOKEN=your_webhook_verify_token_here

# LLM url
LLM_URL=http://localhost:8081/api/v1/chat/ask